
      <footer class="footer">
        <p class="footer-links"><a href="https://github.com/jwashke"><i class="fa fa-github fa-2x fa-fw"></i></a>
        <a href="https://medium.com/@jwashke"><i class="fa fa-medium fa-2x fa-fw"></i></a>
        <a href="mailto:jwashke@icloud.com"><i class="fa fa-envelope-o fa-2x fa-fw"></i></a></p>
      </footer>
        </div>
      <!--
  --><!-- jQuery first, then Bootstrap JS. --><script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script><script src="https://use.fontawesome.com/7a30fd75bb.js"></script>
  </body>
</html>
