<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Joshua Washke</title>
  {% include base.html %}
  <link rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon'/ >
  <link href="{{base}}/assets/styles.css" rel="stylesheet">
  <link href="{{base}}/assets/syntax.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
  <header class="primary-header group">

    <section class="container">
      <h1 class="logo">
        <a href="{{base}}">{ JW }</a>
      </h1>
      <nav class="nav primary-nav">
        <a href="{{base}}">Home</a>
        <a href="{{base}}/about.html">About</a>
        <a href="{{base}}/resume.html">Resume</a>
        <a href="{{base}}/portfolio.html">Portfolio</a>
      </nav>
    </section>
    <!-- <h3 class="tagline">Programming and stuff</h3> -->

    <section class="hero">
      <h2>Hi, I'm Josh</h2>
      <p>I'm into making cool applications, learning new technologies, and readers like you.</p>
    </section>
    <nav class="social">
      <ul>
        <li><a href="https://github.com/jwashke"><i class="fa fa-github fa-inverse fa-3x fa-fw"></i></a></li>
        <li><a href="https://twitter.com/jwashke"><i class="fa fa-twitter fa-inverse fa-3x fa-fw"></i></a></li>
        <li><a href="mailto:jwashke@icloud.com"><i class="fa fa-envelope-o fa-inverse fa-3x fa-fw"></i></a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <article>
