/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #ededed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 0rem;
  /*border-bottom: .05rem solid #093156;*/
}
/* Make the masthead heading the same height as the navigation */
.header {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;

}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.brand-link {
  color: #093156;
  font-family: "Lato" !important;
  text-decoration: none;
}

.brand-link:hover {
  color: #53bf6b;
  text-decoration: none;
}

a {
  color: #093156 !important;
  font-family: "Noto Sans" !important;
}

a:hover {
  color: #5da2bf !important;
  text-decoration: none !important;
}

a:active {
  text-decoration: none;
}

.name {
  color: #5da2bf;
}

.footer-links {
  text-align: center;
}

.jumbotron-icons {
  margin: 2rem 0 0 0;
}

.highlight {
  min-width: 100%;
  padding: 0.5rem 1rem !important;
  margin: 1rem 0 !important;
  background-color: #282828 !important;
}

.portfolio-img {
  width: 140% !important;
  margin-left: -20%;
}

.label-light-blue {
  background-color: #5da2bf
}

.button-group {
  text-align: center;
  margin: 1rem auto;
  padding: 0  0 1rem 0;
  border-bottom: .05rem solid #5da2bf;
}

.btn-dark-blue {
  color: #fff !important;
  background-color: #093156 !important;
}

.btn-dark-blue:hover {
  color: #fff !important;
  background-color: #5da3bf !important;
}

.p-row {
  margin: 1rem 0 .5rem 0;
}

.project-name {
  margin: 1rem;
  color: #093156;
}

.carousel-caption
  {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
  }

  .carousel-caption p {
    margin: 20px;
  }

  .portfolio-box {
    margin: 1rem 0;
  }
